h1{
    color: rgba(111, 128, 144, 0.575);
    /* font-size: 200px; */
}

button {
    background-color: cadetblue;
    color:bisque;
}

p {
    color: white;
    background-color: chocolate;
}